.message {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.message-top {
  display: flex;
  gap: 10px;
}

.message-profile-pic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.message-text {
  max-width: 300px;
  border-radius: 4px;
  background-color: #efefef;
  padding: 15px;
  color: #5f5f5f;
}

.message-time {
  font-size: 0.8rem;
  margin-top: 10px;
}

/* own message */
.message.own {
  align-items: flex-end;
}

.message.own .message-text {
  background-color: #e8f1f3;
}
